body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: #fff;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    padding: 50px;
}

.container {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    max-width: 1100px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    animation: flash 1.5s infinite;
}

@keyframes flash {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}

.textareas {
    display: flex;
    justify-content: space-between;
}

textarea {
    width: 400px;
    height: 300px;
    resize: none;
    margin: 40px;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Courier New', Courier, monospace;
}

.buttons {
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {
    background-color: #0056b3;
}

button:last-child {
    margin-right: 0;
}